:root {
    --main-color: #025002c2;
    --accent-color: #1e2238;
    --text-color-header: white;
    --text-color: #000000;
    --background-color: rgb(233, 233, 205);
    --hover-color: #99939369;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    
}

/* HEADER STYLES */

header {
    padding: 20px 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--text-color-header);
    margin: 10px;
}

header a {
    color:var(--text-color-header);
    text-decoration: none;
    text-shadow: 0 0 15px black;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
    margin: 10px 35px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--text-color-header);
    text-shadow: 0 0 10px black;
}

header nav ul li a:hover {
    background: var(--hover-color);
    color: var(--text-color);
    border-radius: 15px;
    text-shadow: none;
}
/* END OF HEADER STYLES */

/* HERO STYLES */
.hero {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-img {
    max-width: 100%; 
    display: block;
}

.container {
    position: relative;
}
.h2-hero {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--hover-color);
    color:var(--text-color-header);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 34px;
    border-radius: 15px;
}

/* END OF HERO STYLES */

/* ABOUT ME STYLES */

.title-section {
    color: var(--accent-color);
    font-size: 50px;
    font-weight: bold;
    border-bottom: 5px solid var(--accent-color);
    border-top: 5px solid var(--accent-color);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.description {
    font-size: 24px;
    font-weight: normal;
    color: var(--text-color);
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.image-design {
    width: 100%;
    min-height: 400px;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    overflow: visible;
}

.my-img {
    background-image: url("./assets/images/my-image.JPG");
    background-size: cover;
    position: relative;
}

/* ABOUT ME STYLES ENDS */

/* WORK STYLES */

.work-grid-wrapper {
    display: flex;
    width: 70%;
}

.work-grid-container {
    display: grid;
    max-width: 950px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    width: 400px;
    height: 300px;
    background-color: var(--hover-color);
    border: solid;
    color: black;
}

.box3 {
    width: 800px;
    height: 610px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
/* WORK STYLES ENDS */


/* CONTACT LINK STYLES */

.contact-links {
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    font-size: 48px;
    padding: 40px;
}

.contact-links a {
    text-decoration: underline var(--main-color);
    color: var(--accent-color);
}

.contact-links a:hover {
    background-color: var(--hover-color);
    border-radius: 15px;
}